
.contentTop{
    display: flex;
    flex: 1;

}

.contentTop .details{
   margin-left: 5%;
}

.contentTop .details h2 {
color : rgba(26, 31, 22, 0.5);
padding-bottom: 20px;


}

.smallImgs {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;  
}

.smallImgs .previewImg {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
}

.smallImgs .previewImg img {
    width: 50px;
    height: 50px;
    

}

.bigImg {
    width: 300px;
    height: 300px;
    margin-left: 40px;
    background-color: white;
    border-radius: 20px;
}

.bigImg img {
    width: 300px;
    height: 300px;  
}

.contentTop .details h3 {
    color: #12805D;
    
}

.contentBottom .description{
    margin-top: 20px;
}

.contentBottom hr{
    border: 2px solid black;
}

.contentBottom .description hr{
    width: 20%;
    margin-left: 10px;
}

.contentBottom .description h2{
    margin-left: 10px;
    margin-top: 30px;
}

.contentBottom .description p{
    margin-left: 10px;
    
}


.contentTop .details h3 span {
    font-size: 15px;
}

.contentTop .details .button {
    margin-left: 65%;    
    height: 30%;
}

.contentTop .details .button button{
    background-color: black;
    color: white;     
    width: 150px;
    height: 50px;
    border-radius: 14px;
    border-style: solid;
    font-size: 18px;
}

.contentTop .details .button .bagIcon{
    margin-bottom: 5px;
}

a:hover{ 
    color: black;
    text-decoration: none;
}

a:visited{
    color: black;
    text-decoration: none;
}

a{
    color: black;
    text-decoration: none;
    margin-bottom: 15px;
  
}


